<!-- htmlsnapshot pagename="about.html" -->
<div class="blog-header">
    <h1 class="blog-title">About Me..</h1>

</div>
<div class="row">
<div class="col-sm-8 blog-main">
    <p>Hi, I am  Rajeev and I am a java , jee, html5, javascript developer.</p>
    <p>In this site I have a collection of technology related blogs which are based on my experiences on
        various projects I have been working on.</p>
    <p>
        I am currently consulting at OLAF European Anti-Fraud Office as Application Architect, building medium scale applications using Java, Spring, Hibernate, Jquery, AngularJS.
        Prior to this was employed by Infosys as senior software developer.
    </p>
    <hr>
    <p>
        Native of Bangalore, India. I was twelve when I first saw a computer, my first program was written in GW-BASIC on a Intel 80286. Later moved to the  QuickBasic for a brief period before I taught myself C, which quickly became a language of choice.
    </p>
    <p>
        I remember being over the moon when I  wrote a program to show and capture the mouse pointer using some low level interrupt programming or when I could load and display a bitmap image, after all it was in the time when the best UI around was windows 3.1.
    </p>
    <p>
        I spent several years trying to write my own OS as it was fashion those days! I finally switched over to JAVA in the turn of the millennium and have remained faithful to it ever since, or at least to the JVM. I graduated from Manipal Institute of Technology in 2003 with a degree in Electrical and Electronic Engineering.
    </p>
    <hr>
    <p>
        I currently reside in Brussels, Belgium with my wife Nele and two kids Maya and Mylo. I work as  application architecture consultant for The Guru Company.Always looking forward to embrace new technologies and challenges to build that perfect web application.
    </p>
</div> <!-- End./blog-main -->
<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <h4>About Me</h4>
        <p><a href="#">Rajeev Guru</a> is a application architecture consultant specialising in open source technologies</p>
    </div>
</div><!-- End./blog-sidebar -->
</div> <!-- End./row -->