<!-- htmlsnapshot pagename="home.html" -->
<div class="blog-header">
    <h1 class="blog-title">The Guru Company</h1>
    <p class="lead blog-description">Enterprise IT consulting and services</p>
</div>

<div class="row">
<div class="col-sm-12 blog-main">
    <h2>About</h2>
    <p>The Guru Company is a  IT consultancy company started in 2011.We are specialized in designing and developing web application for large and
        medium business using open source technologies.
    </p>
    <h2>Services</h2>
    <ul>
        <li>Web application development</li>
        <li>Enterprise Application Architecture</li>
        <li>Agile Projet Management</li>
        <li>IT design validation</li>
        <li>Strategic IT consulting including recomendation of technologies, deployment strategies</li>
        <li>Application deployment on various clouds (Amazon,Azure,CloudFoundry)</li>
    </ul>


    <h2>Technologies</h2>
    <ul>
        <li>Web/presentation Layer : HTML5, CSS, JavaScrilit(JQuery, AngularJS, Bootstrali).</li>
        <li>Backend/Business Layer : JAVA, GRAILS, PLAY2, SCALA, Vert.X, NodeJS, python</li>
        <li>Database : Oracle, MySQl, liostgreSQL, MongoDB</li>
        <li>Libraries/frameworks : Spring, EJB3, JSP, Lucene, Hiberante, Exliress.</li>
        <li>Securing Web Applications using :OpenAM, Apache Shiro and spring security</li>
    </ul>

</div> <!-- End./blog-main -->
</div> <!-- End./row -->